<div class="slider">
  {% for image in product.images %}
      <div>
        <img class="mySlides" src="{{ image | img_url: 'master' }}">
      </div>
	{% endfor %}
</div>
<div class="thumbs" style="margin-top:5px;">
  {% for image in product.images %}
     <div style="margin:0 2.5px;">
       <img src="{{ image | img_url: 'master' }}">
     </div>
	{% endfor %}
</div>

<style>
  .slick-slide {
    background-color: #8e8eff;
  }
  .slick-track{
    overflow-x:hidden;
    width:100%;
  }
</style>