<div class="slider">
  {% for image in product.images %}
      <div class="{% if forloop.index == 1 %}{% endif %}">
        <img class="slide-img" src="{{ image | img_url: 'master' }}">
      </div>
	{% endfor %}
</div>
<div class="thumbs" style="margin-top:5px;">
  {% for image in product.images %}
     <div style="margin:0 2.5px;">
       <img src="{{ image | img_url: 'master' }}">
     </div>
	{% endfor %}
</div> 
<div class="placeholder">
  <img src="{{ product.featured_image| img_url: 'master' }}" alt="">
</div>