<section id="ProductIntro-{{ section.id }}" data-section="{{ section.id }}">
  {{ 'section-product-intro.css' | asset_url | stylesheet_tag }}
  <div class="intro-container">
    <div class="product-headlines text-center">
      <h2 class="">Get Lasting Relief Whenever You Need It... At Home</h2>
    </div>
    <div class="intro-contents flex-row-center">
      <div class="intro-text">
        <p>The state of the art ALL IN ONE Lumbar care device that makes it possible for anyone to have a professional physiotherapy device at home, for their own personal use. </p><p>It utilizes four functions including Dynamic Back Traction, Infrared Heating &amp; Light Therapy, and Vibration Massage.</p>
        <p>Just 15 minutes per day may help maintain the natural curve of the spine, providing instant and long-lasting relief from chronic back pain, sciatica, pinched nerve and desk posture.</p>
      </div>
      <div class="intro-img">
        <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img12.webp?v=1656281836" alt="">
      </div>
    </div>
  </div>
</section>