<section>
  {{ 'section-product-cta.css' | asset_url | stylesheet_tag }}
  <div class="product-container">
    <div class="product-cta">
      <div class="cta-content">
        <div class="product-headlines">
          <h2>Experience the Ultimate Satisfaction from Lower Back Pain Relief with LumbarFlex</h2>
        </div>
        <div>
          <p>Your back will fit perfectly into the healing groove where the LumbarFlex can apply different back &amp;
            spine healing procedures.</p>
          <p>Prevent back pain from interfering with your life with the LumbarFlex.</p><p>Back pain that is not treated
            immediately can cause your back pain to spread and intensify. This is what leads to chronic
            discomfort over a period of time.&nbsp;</p>
            <div class="cta-img-mobile">
        <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img8.jpg?v=1656420010" alt="">
      </div>
          <p>By using the LumbarFlex daily, you can expect higher mobility in your back as well as a decrease in
            pain. </p> <p>Your joints and nerves will also experience a decrease in pressure with repeated use.</p>
          <p>If you&rsquo;re looking for the best solution for your back pain you&rsquo;ve found it.</p>
          <p>Get your LumbarFlex today to start managing your back pain quickly and effectively.</p>
        </div>
        <div class="b-get-btn">
          <button>GET IT TODAY</button>
        </div>
      </div>
      <div class="cta-img">
        <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img8.jpg?v=1656420010" alt="">
      </div>
    </div>
  </div>
</section>