<section>
   {{ 'section-product-reviews.css' | asset_url | stylesheet_tag }}
   <div class="section-bg-reviews">
    <div class="product-container product-reviews">
      <div class="product-headlines text-center">
        <h2>See What Others Are Saying About LumbarFlex™</h2>
      </div>
      <div class="review-slider">
        {% for block in section.blocks %}
          <div class="review-slider-slide">
            <div class="rev-img">
                {{ block.settings.image | image_url: width: 450 }}
            </div>
            <div class="rev-content">
              <div class="rev-desc">
                <p>{{ block.settings.description }}</p>
              </div>
              <div class="reviewer-name">
                <div>{{ block.settings.name }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
   </div>

</section>

{% schema %}
{
   "name":"Review Slider",
   "max_blocks":5,
   "blocks":[
      {
         "type":"card",
         "name":"card",
         "settings":[
            {
               "type":"image_picker",
               "label":"image",
               "id":"image"
            },
            {
               "type":"textarea",
               "id":"description",
               "label":"description"
            },
            {
               "type":"text",
               "id":"name",
               "label":"name"
            }
         ]
      }
   ]
}
{% endschema %} 


