{{ 'section-product-banner.css' | asset_url | stylesheet_tag }}

<div class="product-banner-section" style="
    position: relative;
">
  <div class="banner-section-container" style="width: 100%;">
    <div class="a-flex-row banner-section-inner">
      <div class="banner-desc">
        <h1>Start Sleeping Like A Baby With This Audio-Aid</h1>
        <div class="banner-subtext">
          <span>This product will change your life</span>
        </div>
        <div class="show-only-on-mobile">
          {%render 'product-slider' %}
        </div>
        <div>
          <ul class="banner-list">
            <li>Effective</li>
            <li>Quick and Easy to use</li>
            <li>3 times cheaper than traditional way</li>
            <li>Never worry about ...</li>
          </ul>
        </div>
        <div class="price-save-stock">
          <div>
            <div class="sale-tag">SALE</div>
            <div class="b-price">
              <span>$39.99</span>
              <span class="comp-price">$69.99</span>
            </div>
          </div>
        </div>
        <div class="saving-bundles">
          <h4>Bundle & Save</h4>
          <div class="a-flex-row-always-center">
            <div class="saving-bundle saving-bundle1 active-bundle">
              <div>SAVE<span>30%</span></div>
              <div>1 SET</div>
              <div>Single</div>
              <div>$39.99</div>
            </div>
            <div class="saving-bundle saving-bundle2">
              <div>SAVE<span>30%</span></div>
              <div>2 SETS</div>
              <div>Couple Bundle</div>
              <div>$59.99</div>
              <div>BEST SELLER</div>
            </div>
            <div class="saving-bundle saving-bundle3">
              <div>SAVE<span>30%</span></div>
              <div>3 SETS</div>
              <div>Family Bundle</div>
              <div>$75.99</div>
              <div>BEST DEAL</div>
            </div>
          </div>
        </div>
        <div class="b-get-btn">
          <div>
            <button>
              <span>GET IT TODAY</span>
            </button>
          </div>
        </div>      
        <div class="b-safe-checkout">
          <div class="a-flex-row-always-center">
            <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/lock.png?v=1655214635">
            </div>
            <div>GUARANTEED SAFE CHECKOUT</div>
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/payment-logo.png?v=1655214307">
          </div>
        </div>
      </div>
      <div class="banner-img">
      
      </div>
    </div>
  </div>
</div>
