<section id="ProductIntro-{{ section.id }}" data-section="{{ section.id }}">
  {{ 'section-product-intro.css' | asset_url | stylesheet_tag }}
  <div class="intro-container product-container">
    <div class="product-headlines text-center">
      <h2 class="product-headline">Get Lasting Relief Whenever You Need It... <span class="accent">At Home</span></h2>
    </div>
    <div class="intro-contents">
      <div class="intro-text">
        <p>The state of the art <strong>ALL IN ONE</strong> Lumbar care device that makes it possible for you to have a <strong>professional physiotherapy</strong> in the comfort of your own home.</p>
        <p>Just <strong>15 minutes per day</strong> may help maintain the natural curve of the spine, providing <strong>instant and long-lasting relief</strong> from chronic back pain, sciatica, pinched nerve and desk posture.</p>
      </div>
      <div class="intro-img">
        <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img12.webp?v=1656281836" alt="">
      </div>
    </div>
  </div>
</section>