<section id="Features-{{ section.id }}" data-section="{{ section.id }}">
  {{ 'section-product-features.css' | asset_url | stylesheet_tag }}
  <div class="section-bg-features">
  <div class="product-container product-features">
    <div class="product-headlines text-center">
      <span class="subheading accent">SCIENCE BACKED RECOVERY</span>
     <h2>Clinically Proven Techniques to Reduce Pain Forever</h2>
     <p class="feature-text">The LumbarFlex uses 4 different technologies that replicate techniques that have been <strong>proven to work in clinical applications.</strong></p>
    </div>
    <div class="feature-cards">
      <div class="feature-card reverse">
        <div class="feature-content">
          <h3 class="feature-heading">Intelligent Spinal Traction</h3>
          <p class="feature-text">Utilizes decompression therapy to instantly relieve pain and correct spinal issues.<br>
A non surgical method to solve acute + chronic pain and heal the spine.</p>
        </div>
        <div class="outer-vider feature-video"> 
          <video width="100%" class="b-lazy b-loaded" autoplay="true" loop="true" muted="" playsinline="" controlslist="nodownload" src="https://cdn.shopify.com/videos/c/o/v/5cbfe491f83f436cbd85e0c3ea5aa3b3.mp4"></video>
        </div>
      </div>
      <div class="feature-card">
        <div class="feature-content">
          <h3 class="feature-heading">Dual Motor Vibrating Massage</h3>
          <p class="feature-text">Two built-in motors work to relax muscles for increased range of motion. Improves blood circulation to aid recovery from muscle soreness.</p>
        </div>
        <div class="outer-vider feature-video"> 
          <video width="100%" class="b-lazy b-loaded" autoplay="true" loop="true" muted="" playsinline="" controlslist="nodownload" src="https://cdn.shopify.com/videos/c/o/v/caf9e38362404146a127a18a0e29f258.mp4"></video>
        </div>
      </div>
      <div class="feature-card reverse">
        <div class="feature-content feature-content-sub">
        <div>
          <h3 class="feature-heading sub-feature-heading">Adjustable Thermal Therapy</h3>
          <p class="feature-text">Variable temperature control ranging from 45°C - 65°C. Heat allows body to effectively heal damaged tissue and muscles.</p><br>
        </div>
         <div>
          <h3 class="feature-heading sub-feature-heading">Red Light Phototherapy</h3>
          <p class="feature-text">Uses Infrared light to initiate deep tissue repair. Faster pain relief through cellular repair + replication.</p></div>
        </div>
        <div class="outer-vider feature-video"> 
          <video width="100%" class="b-lazy b-loaded" autoplay="true" loop="true" muted="" playsinline="" controlslist="nodownload" src="https://cdn.shopify.com/videos/c/o/v/2be77ca1761b46dcbc73269b5bdc5a4b.mp4"></video>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>