<div class="slider">
  {% for image in product.images %}
      <div>
        <img class="mySlides" src="{{ image | img_url: 'master' }}" style="width:100%">
      </div>
	{% endfor %}
</div>

<style>
  .slick-slide {
    background-color: #8e8eff;
  }
</style>