@media screen and (min-width: 750px) {
  .product-guarantee {
    display: flex;
    align-items: center;
  }
}
.product-guarantee {
  padding: 40px 0;
}
.gt-badge {
  flex: 0 0 20%;
}
.gt-badge img {
  max-width: 160px;
  display: block;
  margin: auto;
}
.gt-content {
  flex: 0 0 60%;
}
.gt-desc {
  line-height: 1.25;
}
