.intro-container {
  padding: 65px 15px 0px;
  color: black;
}
.intro-text {
  padding: 20px;
  line-height: 1.5;
  color: #47494a;
}
@media screen and (min-width: 750px) {
  .intro-contents {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 749px) {
  .intro-container {
    padding: 35px 15px 0px;
  }
  .intro-text {
    font-size: 14px;
    padding: 0 10px;
  }
}
