.section-bg-reviews {
  background-color: #009dc8;
}
.product-reviews {
  padding: 20px 0;
  margin-top: 20px;
}
.product-reviews .product-headlines h2 {
  color: #fff;
}
.review-slider {
  margin: 0px 80px;
}
.slick-prev,
.slick-next {
  background: white !important;
}
.review-slider-slide {
  margin: 0 18px 10px;
  border-radius: 6px;
}
/* .rev-desc {
} */
.rev-content {
  text-align: center;
  line-height: 1.25;
  background-color: #fff;
  padding: 10px 20px 20px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

@media screen and (max-width: 749px) {
  .review-slider {
    margin: 0px 40px;
  }
}
