@media screen and (min-width: 750px) {
  .product-cta {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .cta-img-mobile {
    display: none;
  }
}

.product-cta {
  line-height: 1.4;
  margin: 40px 0;
}
.cta-content {
  flex: 0 0 60%;
  padding: 20px;
}
.cta-img::before {
  content: "";
  background-image: url("https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img8.jpg?v=1656420010");
}
@media screen and (max-width: 749px) {
  .cta-img {
    display: none;
  }
  .product-cta {
    margin: 20px 0;
  }
}
